All requirement are infered from the notes give.

Gas Stations:
- List of all Gas Stations
- Each Gas Station has an overview page wich shows the below possible views
	-Income
		-income per day
		-income per shift
	-Fuel Tanks
		-List of fuel level per day (Morning -Night) per fuel. Should include sold ammount and supply if any.
		