<base-form
  [model]="vm.model"
  [saveable]="vm.saveable"
  [vm]="vm"
  [form]="vm.form"
>
  <form-row>
    <enum-control
      [form]="vm.form"
      [enums]="vm.types"
      [required]="true"
      name="type"
      label="Type"
    >
    </enum-control>
  <date-control
      [form]="vm.form"
      [required]="true"
      name="date"
      label="Ημερομηνία"
    >
    </date-control>
  </form-row>
  <form-row>
    <input-control
      [form]="vm.form"
      [required]="true"
      name="income"
      type="number"
      label="Έσοδα"
    >
    </input-control>
  </form-row>
</base-form>
