<base-form
  [model]="vm.model$ | async"
  [saveable]="vm.saveable"
  [vm]="vm"
  [form]="vm.form$ | async"
>
  <form-row>
    <enum-control
      [form]="vm.form$ | async"
      [enums]="vm.types$"
      [required]="true"
      name="type"
      label="Type"
    >
    </enum-control>
    <date-control
      [form]="vm.form$ | async"
      [required]="true"
      name="date"
      label="Ημερομηνία"
    >
    </date-control>
  </form-row>
  <form-row>
    <input-control
      [form]="vm.form$ | async"
      [required]="true"
      name="washes"
      type="number"
      label="Πλυσίματα"
    >
    </input-control>
    <input-control
      [form]="vm.form$ | async"
      [required]="true"
      name="accesories"
      type="number"
      label="Αξεσουαρ"
    >
    </input-control>
  </form-row>
  <div *ngFor="let shiftFuel of vm.getShiftFuels() | async; index as i">
    <form-row>
      <shift-fuel-form
        [shiftFuel]="shiftFuel"
        [form]="vm.getShiftFuelForm(i) | async"
      >
      </shift-fuel-form>
    </form-row>
  </div>
  <form-row>
    <input-control
      [form]="vm.form$ | async"
      [required]="true"
      name="income"
      type="number"
      label="Έσοδα"
    >
    </input-control>
  </form-row>
</base-form>
