<mat-form-field fxFlex [formGroup]="form">
  <mat-label>{{ label }}</mat-label>
  <mat-select
    (selectionChange)="onChangeValue($event)"
    [disabled]="readonly"
    formControlName="{{ name }}"
  >
    <mat-option *ngFor="let enum of enums" value="{{ enum }}">{{
      enum
    }}</mat-option>
  </mat-select>
  <button
    *ngIf="control.value && !readonly"
    type="button"
    mat-icon-button
    (click)="control.reset()"
    matSuffix
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
