<h2 mat-dialog-title>{{title}}</h2>
<ng-template>
    <mat-dialog-content [formGroup]="dialogForm">
        <mat-form-field
        class="cdk-visually-hidden" >
            <input matInput
                formControlName="id">
        </mat-form-field>
        <mat-form-field>
            <input matInput
                placeholder="Όνομα"
                formControlName="name">
        </mat-form-field>

        <mat-selection-list #gasStationsList name="gasStationsList">
            <mat-list-option *ngFor="let gasStation of gasStations">
              {{gasStation.name}}
            </mat-list-option>
          </mat-selection-list>

    </mat-dialog-content>
</ng-template>

<mat-dialog-actions>
    <button mat-button class="mat-raised-button"(click)="close()">Ακύρωση</button>
    <button mat-button [mat-dialog-close]="true" class="mat-raised-button mat-primary" (click)="save()">Αποθήκευση</button>
</mat-dialog-actions>