table {
  width: 100%;
}

.actions {
  right: 0;
  width: 5%;
}

.filter {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.filterAndActionsRow {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.actionButton {
  justify-self: end;
}
