<base-form
  [model]="vm.model$ | async"
  [saveable]="vm.saveable"
  [vm]="vm"
  [form]="vm.form$ | async"
>
  <form-row>
    <input-control
        [form]="vm.form$ | async"
        [required]="true"
        type="text"
        label="Αριθμός Επιταγής"
        name="checkNumber"
      ></input-control>
  </form-row>
  <form-row>
    <date-control
      [form]="vm.form$ | async"
      [required]="true"
      name="expirationDate"
      label="Ημερομηνία Λήξης"
    >
    </date-control>
    <select-control
    [form]="vm.form$ | async"
    [selectItems]="vm.customers$"
    [required]="true"
    name = "fromCustomerId"
    label = "Είσπραξη από">
    </select-control>
  </form-row>
  <form-row>
    <!-- // TODO check how to handle null values for dates and not submit a form -->
    <date-control
      [form]="vm.form$ | async"
      [required]="false"
      name="dateOfDispatch"
      label="Ημερομηνία Αποστολής"
    >
    </date-control>
    <select-control
    [form]="vm.form$ | async"
    [selectItems]="vm.customers$"
    [required]="true"
    label="Εστάλη σε"
    name="toCustomerId">
    </select-control>
  </form-row>
  <form-row>
    <select-control
    [form]="vm.form$ | async"
    [selectItems]="vm.banks$"
    [required]="true"
    name="bankId"
    label="Τράπεζα">
    </select-control>
    
    <input-control
      [form]="vm.form$ | async"
      [required]="false"
      type="number"
      label="Ποσό"
      name="amount"
    ></input-control>
  </form-row>
  <form-row>
    <input-control
      [form]="vm.form$ | async"
      [required]="false"
      type="text"
      label="Σχόλια"
      name="description"
    ></input-control>

    <date-control
      [form]="vm.form$ | async"
      name="sealedAt"
      label="Ημερωμηνία Σφραγγίσματος"
    >
    </date-control>
  </form-row>
  <form-row>
    <check-box-control
    [form]="vm.form$ | async"
    name = "returnedFromAlek"
    label="Επιστροφή από Αλέκο"
    [required]="false">

    </check-box-control>
    <check-box-control
    [form]="vm.form$ | async"
    name = "isVoided"
    label="Σγραφισμένη επιταγή"
    [required]="false">

    </check-box-control>
  </form-row>
</base-form>
