<mat-accordion class="example-headers-align" multi>

  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ (epxantionPanelItem | async).title }}
      </mat-panel-title>
      <mat-panel-description>
        {{ (epxantionPanelItem | async).description }}
        <mat-icon>{{ (epxantionPanelItem | async).icon }}</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <material-list [listItems]="listItems"></material-list>
    <!-- All expanded content goes here -->
    
  </mat-expansion-panel>
</mat-accordion>