<div fxFill fxLayout="row" fxLayoutGap="10px">
  <input-control
  [form]= "form"
  name="tankName"
  label="Δεξαμενή"
  [readonly]=true
  >
</input-control>
<input-control
    [form]="form"
    type="number"
    [required]="true"
    name="litres"
    label="Λίτρα"
    (input)="onInputUpdate()"
  >
  </input-control>
  <input-control
    [form]="form"
    type="number"
    [required]="true"
    name="price"
    label="Τιμή"
    (input)="onInputUpdate()"
  >
  </input-control>

  <input-control
  [form]="form"
  type="number"
  name="total"
  label="Σύνολο"
  [readonly]="true"
  matInput
  icon="euro_symbol"
  ></input-control>
</div>
